# npm security best practices
# Source: https://github.com/lirantal/npm-security-best-practices

# Do not run any lifecycle hook scripts such as postinstall for packages
ignore-scripts=true

# Do not allow Git / GitHub related sources for packages
allow-git=none

# Require at least 30 days since package release
min-release-age=30
